main{
    background-color: #dad8d83d;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
  }

#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 420px;
}

.cell {
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    cursor: pointer;
}

#turn-indicator {
    margin-bottom: 20px;
}

#reset-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}


